<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Club</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
</head>
<body>
<header>
    <a href="./"><h1>Pix</h1></a>
    <h2 th:text="${title}"></h2>
    <h3>
    </h3>
</header>
<section>

    <table>
        <tr>
            <th>Logo</th>
            <th>Name</th>
            <th>Players</th>
        </tr>
        <tr th:each="c : ${teams}">
            <td>
                <img th:src="${c.logo}"/>
            </td>
            <td th:text="${c.name}"></td>
            <td class="search-container">
                <a class="search" th:href="@{/players(teamId=${c.id})}">Pokaż graczy</a>
            </td>
        </tr>
    </table>

</section>
<div id="orders">

</div>
<footer th:text="${tip}">
    To jest tekst zastępczy, który zniknie, gdy zadziała Thymeleaf.
</footer>

</body>
</html>